.btn-xl {
  padding-top: 50px;
  padding-bottom: 50px;
  width: 200px;
}

.v-whitespace-lg {
  margin-top: 50px;
}

.word-container {
  width: 85%;
  height: 300px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  position: relative;
}

.vertical-center {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

.size-a {
  text-align: center;
  font-size: 50px;
}

.size-b {
  text-align: center;
  font-size: 75px;
}

.size-c {
  text-align: center;
  font-size: 100px;
}

.size-d {
  text-align: center;
  font-size: 125px;
}

.size-e {
  text-align: center;
  font-size: 150px;
}

.size-f {
  text-align: center;
  font-size: 175px;
}

.size-g {
  text-align: center;
  font-size: 200px;
}

