/*
 * font families
 */
.font0 {
  font-family: Arial,'Helvetica Neue',Helvetica,sans-serif;
}

.font1 {
  font-family: 'Arial Black','Arial Bold',Gadget,sans-serif;
}

.font2 {
  font-family: "Arial Rounded MT Bold","Helvetica Rounded",Arial,sans-serif;
}

.font3 {
  font-family: Calibri,Candara,Segoe,"Segoe UI",Optima,Arial,sans-serif; 
}

.font4 {
  font-family: "Lucida Grande","Lucida Sans Unicode","Lucida Sans",Geneva,Verdana,sans-serif;
}

.font5 {
  font-family: "Book Antiqua",Palatino,"Palatino Linotype","Palatino LT STD",Georgia,serif;
}

.font6 {
  font-family: Cambria,Georgia,serif;
}

.font7 {
  font-family: "Lucida Bright",Georgia,serif;
}

.font8 {
  font-family: Rockwell,"Courier Bold",Courier,Georgia,Times,"Times New Roman",serif;
}

.font9 {
  font-family: TimesNewRoman,"Times New Roman",Times,Baskerville,Georgia,serif;
}

.font10 {
  font-family: "Lucida Console","Lucida Sans Typewriter",monaco,"Bitstream Vera Sans Mono",monospace;
}

.font11 {
  font-family: Papyrus,fantasy;
}


/*
 * font colors
 */
.fc0 {
  color: black;
}

.fc1 {
  color: black;
}

.fc2 {
  color: black;
}

.fc3 {
  color: black;
}

.fc4 {
  color: black;
}

.fc5 {
  color: blue;
}

.fc6 {
  color: brown;
}

.fc7 {
  color: green;
}

.fc8 {
  color: pink;
}

.fc9 {
  color: pink;
}

.fc10 {
  color: pink;
}

.fc11 {
  color: purple;
}

/*
 * device specific css changes
 */

/* ipad landscape or laptop */
@media only screen and (min-width: 768px) and (min-width: 1024px) and (orientation : landscape), not screen {
  
  .fs0 {
    font-size: 50px;
  }
  
  .fs1 {
    font-size: 70px;
  }
  
  .fs2 {
    font-size: 90px;
  }
  
  .fs3 {
    font-size: 100px;
  }
  
  .fs4 {
    font-size: 110px;
  }
  
  .fs5 {
    font-size: 130px;
  }
  
  .fs6 {
    font-size: 140px;
  }
  
  .fs7 {
    font-size: 150px;
  }
  
  .fs8 {
    font-size: 170px;
  }
  
  .fs9 {
    font-size: 190px;
  }
  
  .word-container {
    height: 275px;
  }
  
}

/* ipad portrait */
@media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation : portrait) {
  
  .fs0 {
    font-size: 50px;
  }
  
  .fs1 {
    font-size: 70px;
  }
  
  .fs2 {
    font-size: 80px;
  }
  
  .fs3 {
    font-size: 90px;
  }
  
  .fs4 {
    font-size: 100px;
  }
  
  .fs5 {
    font-size: 110px;
  }
  
  .fs6 {
    font-size: 120px;
  }
  
  .fs7 {
    font-size: 130px;
  }
  
  .fs8 {
    font-size: 140px;
  }
  
  .fs9 {
    font-size: 150px;
  }
  
  .word-container {
    height: 275px;
  }
  
}

/* iphone 6 landscape */
@media only screen and (max-width: 667px) and (orientation: landscape) {
  
  .fs0 {
    font-size: 50px;
  }
  
  .fs1 {
    font-size: 55px;
  }
  
  .fs2 {
    font-size: 60px;
  }
  
  .fs3 {
    font-size: 65px;
  }
  
  .fs4 {
    font-size: 70px;
  }
  
  .fs5 {
    font-size: 75px;
  }
  
  .fs6 {
    font-size: 80px;
  }
  
  .fs7 {
    font-size: 85px;
  }
  
  .fs8 {
    font-size: 90px;
  }
  
  .fs9 {
    font-size: 100px;
  }
  
  .word-container {
    height: 160px;
  }
  
}

/* iphone 6 portrait */
@media only screen and (max-width: 667px) and (orientation: portrait)  {
  
  .fs0 {
    font-size: 50px;
  }
  
  .fs1 {
    font-size: 54px;
  }
  
  .fs2 {
    font-size: 57px;
  }
  
  .fs3 {
    font-size: 60px;
  }
  
  .fs4 {
    font-size: 64px;
  }
  
  .fs5 {
    font-size: 67px;
  }
  
  .fs6 {
    font-size: 60px;
  }
  
  .fs7 {
    font-size: 74px;
  }
  
  .fs8 {
    font-size: 77px;
  }
  
  .fs9 {
    font-size: 70px;
  }
  
  .word-container {
    height: 160px;
  }
  
}